<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>TrustCare</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/css/owl.carousel.min.css" rel="stylesheet">

        <link href="/static/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="/static/css/templatemo-medic-care.css" rel="stylesheet">
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </head>
    
    <body id="top">
    
        <main>

            <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
                <div class="container">
                    <a class="navbar-brand mx-auto d-lg-none" href="index.html">
                        TrustCare
                        <strong class="d-block">TrustCare</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                            <h1>TrustCare</h1>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}">Home</a>
                            </li>

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'about' %}">About</a>
                                    </li>

                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Register
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="registerDropdown">
                                    <li><a class="dropdown-item" href="/user_reg/"> User</a></li>
                                    <li><a class="dropdown-item" href="/volunteer/register/">Volunteer</a></li>
                                    
                                </ul>
                            </li>
                
                                       
                                                        
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/login/" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Log in
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                                    <li><a class="dropdown-item" href="/login/">Admin</a></li>
                                    <li><a class="dropdown-item" href="/login/">User</a></li>
                                    <li><a class="dropdown-item" href="/login/">Volunteer</a></li>
                                   
                                </ul>
                            </li>
                            
                        </ul>
                    </div>

                </div>
            </nav>
            {% block content %}
           
            <section class="hero" id="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="https://media.istockphoto.com/id/1473155461/photo/nurse-hands-and-senior-patient-in-empathy-safety-and-support-of-help-trust-and-healthcare.jpg?s=612x612&w=0&k=20&c=I5fh75AaVB0hVNE4-7JeY9g6sugFP4_4ZEQRPAPvJws=" class="img-fluid" alt="">
                                    </div>

                                </div>
                            </div>

                            <div class="heroText d-flex flex-column justify-content-center">

                                <h1 class="mt-auto mb-2">
                                    Better
                                    <div class="animated-info">
                                        <span class="animated-item">health</span>
                                        <span class="animated-item">days</span>
                                        <span class="animated-item">lives</span>
                                    </div>
                                </h1>

                                <p class="mb-4">  
                                    Good health is the key to happiness and a fulfilling life. When we care for our well-being, every day becomes brighter, and life feels more meaningful..</p>

                               
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding" id="about">
                <div class="container">
                    <div class="row">
            
                        <div class="col-lg-6 col-md-6 col-12">
                            <h2 class="mb-lg-3 mb-3">Our purpose</h2>
            
                            <p>Comprehensive, complete elder care and support delivered with quality and compassion - this is TrustCare's promise. We firmly believe that our focus on holistic elder wellbeing is key to keeping our senior citizens healthy and well, enabling them to live life fully!</p>
            
                            <p>To help our senior citizens live happy, healthy, secure lives by providing them with trustworthy, holistic, compassionate, end-to-end support.</p>
                            <!-- Small button aligned to the left -->
                            <a href="{% url 'about' %}" class="btn btn-sm btn-primary mt-2">Read More about TrustCare</a>
                        </div>
            
                        <div class="col-lg-4 col-md-5 col-12 mx-auto">
                            <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                                <p class="featured-text"><span class="featured-number">8</span> Years<br> of Experiences</p>
                            </div>
                        </div>
            
                    </div>
                </div>
            </section>
            

            <section class="gallery">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-6 ps-0">
                            <img src="/static/images/gallery/medium-shot-man-getting-vaccine.jpg" class="img-fluid galleryImage" alt="get a vaccine" title="get a vaccine for yourself">
                        </div>

                        <div class="col-lg-6 col-6 pe-0">
                            <img src="/static/images/gallery/female-doctor-with-presenting-hand-gesture.jpg" class="img-fluid galleryImage" alt="wear a mask" title="wear a mask to protect yourself">
                        </div>

                    </div>
                </div>
            </section>

           

                                   
                                    
            <footer class="site-footer section-padding" id="contact">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-5 me-auto col-12">
                            <h5 class="mb-lg-4 mb-3">Opening Hours</h5>
    
                            <ul class="list-group list-group-flush">
        
                                <li class="list-group-item d-flex">
                                    Monday to Friday
                                    <span>8:00 AM - 3:30 PM</span>
                                </li>
     
                                <li class="list-group-item d-flex">
                                    Saturday
                                    <span>10:30 AM - 5:30 PM</span>
                                </li>

                                <li class="list-group-item d-flex">
                                    Sunday : Closed
                                </li>
                            </ul>
                        </div>
    
                        <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                            <h5 class="mb-lg-4 mb-3">Hotline 24/7</h5>
    
                            <p><a href="mailto:trustcare@gmail.com">trustcare@gmail.com</a><p>

                                <p><a href= "+91 9567747058">+91 9567747058 </a> </p>
                            <p>123 Digital Art Street, San Diego, CA 92123</p>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-12 ms-auto">
                            <h5 class="mb-lg-4 mb-2">Socials</h5>
    
                            <ul class="social-icon">
                                <li><a href="#" class="social-icon-link bi-facebook"></a></li>
    
                                <li><a href="#" class="social-icon-link bi-twitter"></a></li>
    
                                <li><a href="#" class="social-icon-link bi-instagram"></a></li>
    
                                <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                            </ul>
    
                            <div>
                                <p class="copyright-text">Copyright © Medic Care 2021 

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>
        {% endblock %}
       
        
        <!-- JAVASCRIPT FILES -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/scrollspy.min.js"></script>
        <script src="/static/js/custom.js"></script>
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </body>
</html>